.short{
	font-weight: bold;
	color:  #FF0000;
	font-size: larger;
}

#result{
	margin-top: 0px;
}

.weak{
	font-weight: bold;
	color:orange;
font-size: larger;
}
.usr{
	width: 70%;
}
.password{
	width: 70%;
	display: inline;
}
.good{
	font-weight: bold;
	color:#2d98f3;
font-size: larger;
}

.strong{
	font-weight: bold;
	color:limegreen;
font-size: larger;
}
