table{
	border-collapse: collapse;
width: 100%;
}

table,th,td{
	border: 1px solid black;
	text-align: center;
	}

th{
	width:auto;
	padding: 5px 20px;
	background: aqua;
	font-family: sans-serif;
	font-size: 15px;
	border-bottom: 2px solid black;
}

td{
	font-family: sans-serif;
	padding: 5px 0;
}

.record{
	margin-top: 10px;
	font-size: 25px;
	margin-bottom:30px;
	color: darkgreen;
	font-family: sans-serif;
}
.data{
	margin-bottom: 10px;
	font-size: 20px;
	color: firebrick;
margin-left: 10px;
	font-family: sans-serif;
}
